<!DOCTYPE html>
<html>
  <head>
    <title>Iris Classifier</title>
  </head>
  <body>
    <h1>Iris Classifier</h1>
    <p>
      Welcome to the Iris Classifier web application! This application uses a
      machine learning model to predict the species of an iris flower based on
      its sepal length, sepal width, petal length, and petal width.
    </p>
    <p>To make a prediction, please click the button below:</p>
    <a href="{{ url_for('predict') }}"><button>Predict Iris Species</button></a>
  </body>
</html>
